.mainview__box {
  width: 50rem;
  height: 31.25rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
}

.mainView {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
